{% extends "blank_page.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('.static', filename='disc.css') }}">
{% endblock %}
{% block title %}Confirm user{% endblock %}
{% block body %}
<h1>Are you...</h1>
<div id="card">
  <img src="{{ pfp }}" align="left" id="cardimg">
  <div id="cardcontent">
    {% if user['nick'] is not none %}
    <strong>Nick:</strong> {{ user['nick'] }}<br>
    {% else %}
    <!-- This user has no nickname --> 
    {% endif %}
    <strong>Tag:</strong> @{{ user['user']['username'] }}#{{ user['user']['discriminator'] }}<br>
    {% for role in roles %}
    <span class="roleitem" style="border: 2px solid {{ role['color']|int_to_hexcolor }};"><span style="color: {{ role['color']|int_to_hexcolor }};">&#9679;</span> {{ role["name"] }}</span>
    {% endfor %}<br>You have {{ recorded_hours }} hours on record.
    {% if currently_in %}
    You are currently <strong>clocked in.</strong>
    {% endif %}
  </div>
</div>
{% if currently_in %}
<input type="button" onclick="location.href=`{{ url_for('.clock', user=user['user']['id']) }}`;" value="Yes, and I am CLOCKING OUT.">
<input type="button" onclick="location.href='/';" value="Yes, but I am NOT clocking out.">
{% else %}
<input type="button" onclick="location.href=`{{ url_for('.clock', user=user['user']['id']) }}`;" value="Yes, I am clocking in.">
{% endif %}
<input type="button" onclick="location.href='/';" value="Not at all">
{% endblock %}
