#card {
    background-color: #2C2F33;
    border-radius: 5px;
    color: white;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 10px;
    display: inline-block;
}

#cardimg {
    float: left;
    padding-right: 5px;
}

.roleitem {
    display: inline-block;
    margin: 2px auto;
    padding: 1px 5px 1px 4px;
    border-radius: 12px;
}
