<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='disc.css') }}">
    <title>Is this you?</title>
  </head>
  <body>
    <h1>You are:</h1>
    <div id="card">
      <img src="{{ pfp }}" align="left" id="cardimg">
      <div id="cardcontent">
        {% if nick is not none %}
          <strong>Nick:</strong> {{ nick }}<br>
        {% else %}
          <!-- This user has no nickname -->
        {% endif %}
        <strong>Tag:</strong> @{{ username }}#{{ discrim }}<br>
	{% for role in roles %}
	<span class="roleitem" style="border: 2px solid {{ role['color']|int_to_hexcolor }};"><span style="color: {{ role['color']|int_to_hexcolor }};">&#9679;</span> {{ role["name"] }}</span>
	{% endfor %}
      </div>
    </div>
  </body>
</html>
